@import url("normalize.css");

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
}

header { background: LightCyan; }
footer { background: Beige; }

.container { max-width: 75em; margin: auto;}

.container { 
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}

header h1, footer p {
    padding-left: 3vw;
    padding-right: 3vw;
}

 header > .container > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100vw;
}

.hide { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}


/*************************************
 Main Navigation
*************************************/

nav {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
}

nav span, nav div { padding: .5em; }

nav > span, nav > div {background: #d8d8d8; border-bottom: 1px solid #fff; }

.rh-drop     { padding-left: 0;}
.rh-drop > a { padding-left: .5em;}
.rh-drop > i { padding: 0 1em; }

.rh-drop div {
    display: none;
    flex-direction: column;
    margin-left: 2em;
    padding-bottom: 0;
}

.rh-drop:hover div { display: flex; }

#toggle-site-nav { cursor: pointer;  margin: 0 3vw .5em; }
 
.hidden { display: none; }


/*
*************************
* Media Queries
*************************
*/


@media(min-width: 30em) {
    .container { justify-content: center; }
    header > .container > div { width: auto; }
    
    /* Navigation Menu */
    .hidden { display: flex; }
    nav { flex-direction: row; width: 30em; justify-content: space-around;}
    /*nav > span+div, nav > div+span, nav > span+span { margin-left: 10%; } */
    #toggle-site-nav { display: none; }
    .rh-drop     { position: relative; }
    .rh-drop div { position: absolute; margin-left: 0; width: 6.5em; background: #d8d8d8; margin-top: .52em; }
}

@media(min-width: 45em){
    .container { justify-content: flex-start; }
}



