@import url("normalize.css");

header { background: #e89817; }
article { background: #a7c8f2; }
footer { background: #d0dff2; text-align: center; }




body {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

header {
    flex: 1 3 auto;
    display: flex;
    flex-flow: column nowrap;
}

@media(min-width: 50em){
    header { align-items: flex-end; }
}


header > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 2%;
}

header > div > span {
    margin: 0 .5em .5em;
}

article {
    flex: 3 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

article h2 { margin: 1.2em 2vw; }

.hide { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}


/*************************************
 Main Navigation
*************************************/

nav {
    display: flex;
    flex-flow: column nowrap;
}

nav span, nav div { padding: 1em; }

nav > span, nav > div {background: #d8d8d8; border-bottom: 1px solid #fff; }

.rh-drop     { padding-left: 0;}
.rh-drop > a { padding-left: 1em;}
.rh-drop > i { padding: 0 1em; }

.rh-drop div {
    display: none;
    flex-direction: column;
    margin-left: 2em;
    padding-bottom: 0;
}

.rh-drop:hover div { display: flex; }

#toggle-site-nav { cursor: pointer; }

.hidden { display: none; }


/*
*************************
* Media Queries
*************************
*/

@media(min-width: 33em) {
    nav { min-width: 15em;}
    .hidden { display: flex; }
    #toggle-site-nav { display: none; }
    .rh-drop     { position: relative; }
    .rh-drop div { position: absolute; margin-left: 4.6em; margin-top: -1.7em;}
    .rh-drop:hover, .rh-drop:hover div {background: #888; }
}


