@import url("normalize.css");

/*************************************
 Style
*************************************/

/* color scheme
Light blue-gray: #dce5e8;
Cream: #f5f1e2;
Brown: #61514f;
Orange: #fc624e;
Blue-gray: #7ea5ad
*/

body {
    font: 1em/1.5 "Lucida Sans Unicode", "Lucida Grande", Lucida, Helvetica, Arial;
    font-size: 70%;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em;}
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }

a:link, a:visited { text-decoration: none; }
a:link            { color: #7ea5ad; }
a:visited         { color: #7ead86; }
a:hover           { color: #fc624e; text-decoration: underline; }
a:focus           { color: #fc624e; text-decoration: underline; }
a:active          { color: #dce5e8; }


body > header { background: #dce5e8; padding: 1px 0; }
body > footer { background: #7ea5ad; padding: 1px 0; }

nav a:link, nav a:visited { color: #000; }
nav a:hover, nav a:focus  { color: #AAA48D; }

.hide { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}


/*
*************************
* Layout
*************************
*/

.container { max-width: 80em; margin: 0 auto; }

body > header {
    vertical-align: baseline;
}

body > header h1 {
    display: inline-block;
    min-width: 70vw;
    padding-left: 2vw; padding-right: 2vw;
    margin-top: 2vh; margin-bottom: 2vh;
}

body > footer p {
    padding-left: 2vw; padding-right: 2vw;
}



/*
*************************
* Main Navigation
*************************
*/
#toggle-site-nav {
    display: inline-block;
    margin-right: 2vw;
}

nav {
    width: 100vw;
    display: inline-block;
    background: #555;
}

nav a {
    display: inline-block;
    white-space: nowrap; 
    font-size: 1.3em;
    width: 46vw;
    padding: 2vh 2vw;
}

.hidden { display: none; }


/*
*************************
* Media Queries
*************************
*/

@media(min-width: 30em) {
    body { font-size: 80%; }
    body > header h1 { width: 100%; min-width: inherit; text-align: center;  }
    #toggle-site-nav { display: none; }
    .hidden, nav { display: inline-block; }
    nav {  text-align: center; }
    nav a { font-size: 1em; width: auto; padding-left: 4vw; padding-right: 4vw; }
}

@media(min-width: 40em) {
    body { font-size: 90%; }
    body > header h1 { width: 25vw; text-align: left; }
    nav {  width: auto; }
    nav a { padding-left: 3vw; padding-right: 3vw; }
}


@media(min-width: 70em) {
    body { font-size: 100%; }
}  
